<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BrainUp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/font-awesome/css/fontawesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BrainUpProject.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="p-3 header-register">
        <div class="container">
            <div class=" d-flex flex-wrap align-items-center justify-content-left justify-content-lg-start">
                <a class="navbar-brand text-white text-big " asp-controller="Home" asp-action="Index">BrainUp</a>
            </div>
        </div>
    </header>

    <div class="container intro">
        <main role="main" class="pb-3">
            <div class="row">
                <div class="col-sm">
                    <div class="h-100 d-flex align-items-center justify-content-center">
                        <h1 class="text-logo">BrainUp</h1>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="background-panel p-3">
                        <div class="text-welcome-register p-5">Welcome to BrainUp</div>
                        @RenderBody()
                    </div>
                </div>
            </div>
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
