<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BrainUp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/font-awesome/css/fontawesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BrainUpProject.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="p-3 mb-3 header-style footer-style">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <a href="/Cources/Index" class="navbar-brand text-futura text-big">BrainUp</a>

                </div>
            </nav>
        </div>
    </header>
    <div class="container wrapper">
        <div class="row">
            <div class="col-sm-4">
                <div class="h-100 d-flex ">
                    <div class="d-flex flex-column flex-shrink-0 p-3 text-white" style="width: 280px;">
                        <a href='@Url.Page("/Index/Index", new { area = "Admin" })' class="d-flex align-items-center mb-2 mb-md-0 me-md-auto text-white text-decoration-none">
                            <span class="fs-4">Admin areas</span>
                        </a>
                        <hr>
                        @await Component.InvokeAsync("AdminMenu")
                        <hr>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <main role="main" class="pb-3">
                    <div class="p-3">
                        <div class="background-panel p-3">
                            @RenderBody()
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top footer">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap" /></svg>
            </a>
            <span class="mb-3 mb-md-0 text-muted">&copy; 2022 Company, Inc</span>
        </div>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
