<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BrainUp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/font-awesome/css/fontawesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BrainUpProject.styles.css" asp-append-version="true" />

</head>
<body id="body">
    
    <header class="p-3 m-0 header-style footer-style">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <a class="navbar-brand text-futura text-big" asp-controller="Home" asp-action="Index">BrainUp</a>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link text-inter text-middle" asp-controller="Cources" asp-action="Index">Catalog</a>
                            </li>
                            @if (User.IsInRole("Teacher"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-inter text-middle" asp-controller="Cources" asp-action="TeacherCourses">My courses</a>
                                </li>
                            }
                            @if (User.IsInRole("Student"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-inter text-middle" asp-controller="Cources" asp-action="StudentCourses">My courses</a>
                                </li>
                            }
                        </ul>
                        <div class="d-flex justify-content-end">
                            <partial name="_UserPartial" />
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div class="wrapper" id="wrap">
    <div class="container content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top footer">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap" /></svg>
            </a>
            <span class="mb-3 mb-md-0 text-muted">&copy; 2022 Company, Inc</span>
        </div>

    </footer>
    </div>
    <!--<footer class="footer text-muted footer-style">
        <div class="container">
            &copy; 2022 - BrainUpProject - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
