@page
@model BrainUp.Areas.Admin.Pages.Categories.EditModel

@{
    ViewData["Title"] = "Edit category";
}

<div class="text-welcome-register pt-3 p-lg-3 pr-3 pb-1">
    Edit category
    <p class="mb-0">
        <a class="a-link text-small" asp-page="./Index">Back to List</a>
    </p>
</div>
<hr />
<div class="row">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Category.Id" />
            <div class="form-group form-input-element">
                <label asp-for="Category.Name" class="control-label"></label>
                <input asp-for="Category.Name" class="form-control" />
                <span asp-validation-for="Category.Name" class="text-danger"></span>
            </div>
        <div class="form-group form-input-element">
                <input type="submit" value="Save" class="btn btn-primary btn-register" />
            </div>
        </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
