@model BrainUp.Models.Feedback

<form asp-action="AddFeedback" asp-controller="Cources" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input hidden asp-for="CourceId" class="form-control" />
    <div class="form-group m-3">
        <label asp-for="Message" class="form-label"></label>
        <textarea asp-for="Message" required maxlength="100" style="height:16.5vh;" class="form-control"></textarea>
        <span asp-validation-for="Message" class="text-danger"></span>
    </div>
    <div class="form-floating  m-3">
        <input type="submit" value="Add" class="btn btn-primary btn-register" />
    </div>
</form>


