<<div class="form-group form-register-element">
    @if (ViewBag.Confirm)
    {
        <p class="text-inter text-small">The correct answer was created</p>
    }
    else
    {
        <p class="text-danger">The correct answer wasn't created</p>
    }
</div>
